:root {
    --primary-color: #007bff;
    --light-primary-color: #a0c4eb;
    --secondary-color: rgba(206, 206, 206, 0.5);
}

#table-group {
    .pagination {
        padding: 1rem 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        .control {
            background-color: var(--primary-color);
            border: 0;
            color: white;
            margin: 0 0.1rem;
            width: 35px;
            height: 35px;
            border-radius: 0.2rem;
        }
        .control:disabled {
            opacity: 0.5;
            cursor: no-drop;
        }
    }
    #search {
        width: 100%;
    }
}